body {
   background-color: #dee7f6;
   font-family: 'Franklin Gothic Medium';
   margin: 0;
}

.header {
   background-color: #2087f6;
   color: white;
   padding: 10px 10px 10px 150px;
   margin: 0;
}

.header-title {
   font-size: 36px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
   padding: 40px;
   width: 80%;
   margin: 0 auto;
}

.new-task-container {
   background-color: white;
   margin-bottom: 10px;
   padding: 1px 30px 30px 30px;
   border-radius: 10px;
   display: inline-block;
   font-size: 20px;
}

.task-input {
   flex: 1;
   padding: 9px 50px 9px 15px;
   border: 1px solid #007bff;
   border-radius: 5px;
   font-size: medium;
}

.add-button {
   padding: 10px 30px;
   background-color: #2087f6;
   font-family: 'Franklin Gothic Medium';
   font-size: large;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.add-button:hover {
   background-color: #005bbc;
}

.task-board {
   display: flex;
   gap: 1px;
}

.task-column {
   flex: 10;
   padding: 5px;
   display: flex;
   flex-direction: column;
}

.task {
   padding: 15px 20px 15px 20px;
   background-color: white;
   border-radius: 5px;
   border: 1px solid #ccc;
   margin: 5px;
   font-size: 20px;
}

.title {
   font-size: 25px;
   font-weight: bold;
   padding: 10px 20px 10px 15px;
   border-radius: 10px;
   margin: 10px;
   max-width: 130px;
}

.backlog .title {
   background-color: #cdcbc6;
   color: #535151;
}

.backlog .task {
   border-left: 5px solid #696762;
}

.in-progress .title {
   background-color: #bbd0e6;
   color: #0c7aef;
}

.in-progress .task {
   border-left: 5px solid #007bff;
}

.done .title {
   background-color: #bce5c5;
   color: #1dbe42;
}

.done .task {
   border-left: 5px solid #28a745;
}

.trash .title {
   background-color: #eddadb;
   color: #e74a5a;
}

.trash .task {
   border-left: 5px solid #d61e30cb;
}

.clear-button {
   margin: 10px 20px 10px 20px;
   padding: 15px 5px 15px 5px;
   background-color: #d61e30cb;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
   font-family: 'Franklin Gothic Medium';
   font-size: 20px;
}

.clear-button:hover {
   background-color: #9f1a1ad6;
}

.board-app {
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.board-app__main {
   flex: 1;
   padding: 40px;
}

.board-app__inner {
   width: 80%;
   margin: 0 auto;
}

.add-task {
   margin-bottom: 20px;
}

.add-task__form {
   display: flex;
   gap: 10px;
   align-items: center;
}

.add-task__input-wrapper {
   flex: 1;
}