body {
   background-color: #dee7f6;
   font-family: 'Franklin Gothic Medium';
   margin: 0;
}

.board-app {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 2% 10%;
}

.header {
   background-color: #2087f6;
   color: white;
   padding: 10px 10px 10px 150px;
}

.header-title {
   font-size: 50px;
   font-family: 'Franklin Gothic Medium';
}


.new-task-container {
   background-color: white;
   margin-bottom: 5px;
   padding: 1px 30px 30px;
   border-radius: 10px;
   font-size: 25px;
   width: 27%;
   min-width: 440px;
}

.add-task_form {
   display: flex;
   gap: 30px;
   align-items: center;
}

.task-input {
   flex: 1;
   padding: 13px 50px 13px 15px;
   border: 2px solid #007bff;
   border-radius: 5px;
   font-size: 15px;
   
}

.add-button {
   padding: 13px 50px 13px 15px;
   background-color: #2087f6;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: large;
   text-align: center
}

.add-button:hover {
   background-color: #005bbc;
}

.task-board {
   display: flex;
   gap: 1px;
   padding: 20px 0px;
}

.task-column {
   flex: 1;
   padding: 5px;
   display: flex;
   flex-direction: column;
}

.title {
   font-size: 30px;
   font-weight: bold;
   padding: 10px 20px 10px 15px;
   border-radius: 10px;
   margin: 10px;

   max-width: 200px;
   min-width: 160px;
}

.task {
   padding: 15px 20px;
   background-color: white;
   border-radius: 5px;
   border: 1px solid #ccc;
   margin: 5px;
   font-size: 23px;
   cursor: pointer;
   transition: transform 0.2s;
}

.task:hover {
   transform: translateX(5px);
}

.no-tasks {
   padding: 20px;
   text-align: center;
   color: #6c757d;
   font-size: 18px;
   background-color: #f8f9fa;
   border-radius: 5px;
   margin: 10px;}

.backlog .title {
   background-color: #cdcbc6;
   color: #535151;
}

.backlog .task {
   border-left: 5px solid #696762;
}

.in-progress .title {
   background-color: #bbd0e6;
   color: #0c7aef;
}

.in-progress .task {
   border-left: 5px solid #007bff;
}

.done .title {
   background-color: #bce5c5;
   color: #1dbe42;
}

.done .task {
   border-left: 5px solid #28a745;
}

.trash .title {
   background-color: #eddadb;
   color: #e74a5a;
}

.trash .task {
   border-left: 5px solid #d61e30cb;
}

.clear-button {
   margin: 5px 20px;
   padding: 15px 5px;
   background-color: #d61e30cb;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 20px;
}

.clear-button:hover {
   background-color: #9f1a1ad6;
}